build*/
Xcode*
*~
*.pyc
**/.ipynb_checkpoints
coverage*
.travis
.vscode*
*.orig

# pixi environments
.pixi
*.egg-info

# benchmark
plot.html

# Build script temp files
.conda_prefix_*.tmp

# Simulation saved states
store/
